*.apk

.gradle/
build/

*.iml
.idea/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
lib/generated_plugin_registrant.dart
*.lock
